body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(49, 81, 30, 0.623), rgba(0, 0, 0, 0.458)), no-repeat center center;
  background-size: cover;

}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 105%;
  overflow: hidden;
}

#bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.container {
  width: 300px;
  height: 350px;
  perspective: 900px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(11, 48, 0, 0.878), 0 0 60px rgba(3, 184, 51, 0.866);
  border-radius: 2rem;
}

.imagen {
  width: 300px;
  height: 350px;
  border-radius: 2rem;
}

.card {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  border-radius: 2rem;

}

.container:hover>.card {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);

}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  box-shadow: 0 0 10px 2px rgba(50, 50, 50, 2.5);
  backface-visibility: hidden;
  color: aliceblue;
  background: linear-gradient(-135deg,
      #31511e, #000000);
}

.front,
.back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: start;
  gap: 20px;
}

.back {
  transform: rotateY(180deg) rotateZ(180deg);
}

.back-heading,
.front-heading {
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
}

.boton {
  display: flex;
  padding-top: 60px;
  justify-content: space-around;
}

button {
  width: 12em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #859f3d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}

button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 12em;
  cursor: pointer;
}

.logo {
  border-radius: 10px;
  width: 200px;
  height: auto;
}